* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(images/backgroundimg.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main {
    position: absolute;
    display: grid;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.poster, a{
    display: block;
    width: 100%;
    margin: auto;

}
.bg {
    background-repeat: repeat;
}
span {
    display: block;
}